.black		{ background-color:black; }

.cell		{ text-align:center; 
		  color:black;
		  font-size:20pt; }
.elimin		{ color:gray; }
.extrapol	{ color:green; }
.guess		{ color:red; }

.ex		{ font-size:4pt;}
.hidden		{  }

.field		{ float:right; }

.menu		{ float:left; 
		  text-align:center; 
		  width:200px;}
.button		{ color:blue; }

h1		{ font-size:14pt; }
h2		{ font-size:9pt; }

td		{ text-align:center; }

a		{ text-decoration:none; }
a:hover		{ text-decoration:underline; }
